extends ../templates/template.pug
include ../components/topnav.pug

block content
    +topnav(0)
    .viewer
        h1= fairyTale.title
        img(src=fairyTale.image)
        p= fairyTale.text
        h3= 'B' + fairyTale.class

append head
    meta(property='og:title' content=fairyTale.title)
    meta(property='og:image' content="http://localhost/api/base64?id=" + fairyTale.id)
    title= title